<div id="searchbg">
  <% form_tag({ :controller => 'articles', :action => 'search' },
              { :method => 'get', :id => 'sform' }) do -%>
    <input type="text" id="q" name="q" class="searchform" size="16" value="" />
    <input class="searchsubmit" type="submit" value=""/>
  <% end -%>
</div>
